<div class="grid">
  <div class="col-12">
    <div class="flex justify-content-center align-content-center text-align-center">

      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
        <p-card styleClass="mt-10" header="Login" subheader="Faça seu login." *ngIf="loginCard">
          <div class="flex justify-content-center align-content-center text-align-center">
            <input type="email" pInputText placeholder="Email." formControlName="email">
          </div>
          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="password" pInputText placeholder="Senha." formControlName="password">
          </div>
          <div class="card flex justify-content-center mt-3">
            <button type="submit" pButton pRipple label="Login" [disabled]="!this.loginForm.valid"></button>
          </div>
          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold" style="cursor: pointer;" (click)="loginCard = !loginCard">Criar Conta</span>
        </p-card>
      </form>



      <form [formGroup]="loginFormRegister" (ngSubmit)="onSubmitLoginFormRegister()">
        <p-card styleClass="mt-10" header="Criar Conta" subheader="Crie sua conta gratuita." *ngIf="!loginCard">
          <div class="flex justify-content-center align-content-center text-align-center">
            <input type="text" pInputText placeholder="Nome." formControlName="nome">
          </div>
          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="email" pInputText placeholder="Email." formControlName="email">
          </div>
          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="password" pInputText placeholder="Senha." formControlName="password">
          </div>
          <div class="card flex justify-content-center mt-3">
            <button type="submit" pButton pRipple label="Criar Conta" [disabled]="!this.loginFormRegister.valid"></button>
          </div>
          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold" style="cursor: pointer;" (click)="loginCard = !loginCard"
            >Fazer Login</span>
        </p-card>
      </form>

    </div>
  </div>
</div>
